<launch>
  <node name="ydlidar_node"  pkg="ydlidar"  type="ydlidar_node" output="screen">
    <param name="port"         type="string" value="/dev/ttyUSB1"/>  
    <param name="baudrate"     type="int"    value="128000"/>
    <!--param name="frame_id"     type="string" value="laser_frame"/  bychan-->
    <param name="frame_id"     type="string" value="base_laser"/>
    <param name="angle_fixed"  type="bool"   value="true"/>
    <param name="angle_min"    type="double" value="-180" />
    <param name="angle_max"    type="double" value="180" />
    <param name="ignore_array" type="string" value="" />
  </node>

  <!--modified by chan 
      static_transform_publisher x y z yaw pitch roll frame_id child_frame_id period_in_ms
          Publish a static coordinate transform to tf using an x/y/z offset in meters and yaw/pitch/roll in 
          \radians. (yaw is rotation about Z, pitch is rotation about Y, and roll is rotation about X). The 
          \period, in milliseconds, specifies how often to send a transform. 100ms (10hz) is a good value. 
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser4"
    args="0.2245 0.0 0.2 0.12 0.0  0.0 /base_footprint /laser_frame 40" />  -->
    
</launch>
